.swiper-prev, .swiper-next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  width: 35px;
  height: 35px;
  background-color: #9e8485;
  border-radius: 50px;
  z-index: 1;
  transform: translate(0, -50%);
  cursor: pointer;
}
.swiper-next {
  right: 1rem;
}
.swiper-prev {
  left: 1rem;
}
.swiper-prev::before, .swiper-next::before {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-button-disabled {
  opacity: 0.5;
}
/* pagination */
/* .custom-pagination {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.swiper-pagination-bullet {
  position: absolute!important;
  bottom: 1rem!important;
  display: inline-block!important;
  width: 10px!important;
  height: 10px!important;
  background: #7A503E!important;
  border-radius: 50px!important;
  z-index: 2!important;
}
.swiper-pagination-bullet-active::before {
  content: ""!important;
  position: absolute!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
  width: 6px!important;
  height: 6px!important;
  background-color: white!important;
  border-radius: 50%!important;
} */

.swiper-pagination-bullet {
  position: relative;
  width: 10px!important;
  height: 10px!important;
  background: #7A503E!important;
}
.swiper-pagination-bullet-active::before {
  content: ""!important;
  position: absolute!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
  width: 6px!important;
  height: 6px!important;
  background-color: white!important;
  border-radius: 50%!important;
}